<div class="card-body p-0">
  <!-- <div class="px-9 pt-7 card-rounded h-275px w-100" [ngClass]="'bg-' + color">
    <div class="d-flex flex-stack">
      <h3 class="m-0 text-white fw-bolder fs-3">Accepted Quotes Total</h3>
      <br>
      <span class="fs-6 text-light-800  fw-bolder fs-2" style="font-size: 48px !important;">{{salesData[4].countStatus}}</span>


      <div class="ms-1">
      </div>
    </div>

    <div class="d-flex text-center flex-column text-white pt-8" *ngIf="empLevel === 1">
      <span class="fw-bold fs-7">Balance</span>
      <span class="fw-bolder fs-2x pt-1">
        <span>${{salesData[4].quoteAmount | number : '1.2-2'}}</span>
      </span>
    </div>
  </div> -->


  <div class="card-p position-relative">
    <!-- begin::Row -->
    <div class="row g-0" data-container="body" data-toggle="tooltip" data-placement="top" title="">
      <!-- begin::Col -->
      <div class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7 tobescheduled">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"
        ></span>
        <div flex-grow-1 me-2>
          <a id="r1" (click)="reloadPage()" [routerLink]="['/reports/job-report-details']"
          [queryParams]="{QueryType: 'ToBeScheduled', manager: filters.accountManager, yearType: filters.dateRange }"
          [routerLinkActive]="'active menu-here'" class="text-primary fw-bold fs-3" style="color: darkblue !important;">To Be Scheduled</a>
          <br>
          <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-1" style="font-size: 48px !important;">{{data.sales?.toBeSchedCount}}</span>
        </div>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7 pastdue">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"
        ></span>
        <a (click)="reloadPage()" [routerLink]="['/reports/job-report-details']"
        [queryParams]="{ QueryType: 'QuotesWritten', manager: filters.accountManager, yearType: filters.dateRange }"
        [routerLinkActive]="'active menu-here'" class="text-warning  fw-bold fs-3" style="color: rgb(147, 107, 7) !important;">Quotes Written</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-1" style="font-size: 48px !important;">{{data.sales?.pastDueCount}}</span>
        <br>
        <!-- <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-4" *ngIf="empLevel === 1">${{salesData[1].quoteAmount | number : '1.2-2'}}</span> -->
      </div>
    </div>
      <!-- end::Col -->
    <div class="row g-0">
      <!-- begin::Col -->
      <div class="col bg-light-success px-6 py-8 rounded-2 me-7 mb-7 indiscussion">
        <span
          [inlineSVG]="'.../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
        ></span>
        <a (click)="reloadPage()" [routerLink]="['/reports/job-report-details']"
        [queryParams]="{ QueryType: 'Scheduled', manager: filters.accountManager, yearType: filters.dateRange }"
        [routerLinkActive]="'active menu-here'" class="text-warning  fw-bold fs-3" style="color: darkgreen !important;">Scheduled</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-1" style="font-size: 48px !important;">{{data.sales?.inDiscussion}}</span>
        <br>
        <!-- <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-3" *ngIf="empLevel === 1">${{data.sales?.inDiscussion}}</span> -->
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-danger px-6 py-8 rounded-2 me-7 mb-7 tobecalled">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger d-block my-2" style="color: orange;"
        ></span>
        <a (click)="reloadPage()" [routerLink]="['/reports/job-report-details']"
        [queryParams]="{ QueryType: 'PastDue', manager: filters.accountManager, yearType: filters.dateRange }"
        [routerLinkActive]="'active menu-here'" class="text-warning  fw-bold fs-3" style="color: rgb(116, 66, 5) !important;">Past Due</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-1" style="font-size: 48px !important;">{{data.sales?.toBeCalled}}</span>
        <br>
        <!-- <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-3" *ngIf="empLevel === 1">${{data.sales?.toBeCalled}}</span> -->
      </div>
    </div>
      <!-- end::Col -->
    
      <!-- begin::Col -->
    <div class="row g-0">
      <div class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7 tobesent">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger d-block my-2" style="color: purple;"
        ></span>
        <a (click)="reloadPage()" [routerLink]="['/reports/job-report-details']"
        [queryParams]="{ QueryType: 'Processed', manager: filters.accountManager, yearType: filters.dateRange }"
        [routerLinkActive]="'active menu-here'" class="text-warning  fw-bold fs-3" style="color: purple !important;">Processed</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-1" style="font-size: 48px !important;">{{data.sales?.toBeSentLetters}}</span>
        <br>
        <!-- <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-3" *ngIf="empLevel === 1">${{data.sales?.toBeSentLetters}}</span> -->
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-info px-6 py-8 rounded-2 me-7 mb-7 tobeescalated">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
        ></span>
        <a (click)="reloadPage()" [routerLink]="['/reports/job-report-details']"
        [queryParams]="{ QueryType: 'JobsToProcess', manager: filters.accountManager, yearType: filters.dateRange }"
        [routerLinkActive]="'active menu-here'" class="text-warning  fw-bold fs-3" style="color: darkred !important;">Jobs To Process</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-1" style="font-size: 48px !important;">{{data.sales?.toBeEsclated}}</span>
        <br>
        <!-- <span class="fs-6 text-gray-800 text-hover-primary fw-bolder fs-3"  *ngIf="empLevel === 1">${{data.sales?.toBeEsclated}}</span> -->
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
  </div>

  <!-- end::Items -->
</div>
