<div class="battery-pricing-detail-wrapper d-flex">
    <div class="detail-table-wrapper" style="min-width: 400px; overflow: scroll;">
        <table style="border: solid 1px #2984C5; margin-right: 1rem;">
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="badge-light-primary header">Make</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                  <td>{{detail.make}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Model</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.model}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Amp Hour</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.ampHour}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Unit Cost</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.unitCost}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Dimensions</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.dimensions}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Battery Multiplier</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.batteryMultiplier}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Labor Hours</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.laborHours}}</td>
                </ng-container>
            </tr >
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Labor Ready</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.laborReady}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Freight Estimate</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.frieghtEstimated}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Quantity</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.quantity}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Total Cost</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.totalCost | currency:'USD':true:'1.2-2' }}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Customer Cost</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.customerCost | currency:'USD':true:'1.2-2' }}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">DCG Part No</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.dcgPartNo}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Weight</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{detail.weight | number: '1.2-2'}}</td>
                </ng-container>
            </tr>
            <tr class="text-dark fw-bolder badge-light-primary">
                <th class="header badge-light-primary">Total Weight</th>
                <ng-container *ngFor="let detail of dcgBatteryPricingDetails">
                    <td>{{ detail.quantity * detail.weight | number: '1.2-2' }}</td>
                </ng-container>
            </tr>
        </table>
    </div>
    <div class="discription-wrapper">
        <div class="content-wrapper border border-primary p-4">
                <div class="para-wraper border border-primary p-2 mt-2">
                <h1 class="page-heading h-flex text-dark fw-bold fs-3 my-0 flex-column justify-content-center">
                    BATTERY REPLACEMENT DUE TO AGE</h1>
                    <br>
                    <p >
                        This quote is for the purchase and installation of <span style="color: blue;">({{quantity}}) {{name}}</span>
                        or equivalent batteries for the customer's <span style="color: red;">KVA MAKE MODEL Serial No-XXX</span>.
                        These batteries are being quoted for replacement as they have exceeded their end-of-life age of four (4) years 
                        and will no longer be reliable in maintaining the load. In addition, components that are beyond their end-of-life 
                        age are not covered under contract and any emergency service related to failed components beyond their end-of-life age will be billable.
                        <br><br>
                        These batteries are to be installed by a DC Group certified UPS technician who is familiar with the operation of the UPS and with UPS battery 
                        replacements. The batteries quoted here come with a <span style="color: red;">WARRANTY-XXX-</span>year manufacturer's warranty. Also included 
                        in this quote is removal and disposal of the spent batteries in compliance with EPA regulations.
                        <br><br>
                        Freight is estimated for quoting purposes only. Estimated here is standard dock-to-dock delivery. Any special delivery requirements, such as expedited
                         shipment, a lift gate, or inside delivery will likely incur additional costs at the customer's expense.
                        <br><br>
                        All deliveries should be inspected by the facility upon arrival. If any damage is seen or suspected, a note will need to be made on the BOL. If damage 
                        occurs during shipment and a note is not made on the BOL upon delivery, charges for replacement product will apply.
                        <br><br>
                        *Lead times vary based on <span style="color: red;">manufacturer’s</span> availability.*
                        <br><br>
                        *Tax not included*
                    </p>
                    </div>
                    <div class="para-wraper border border-primary p-2">
                        <h1 class="page-heading d-flex text-dark fw-bold fs-3 my-0 flex-column justify-content-center">
                            BATTERY REPLACEMENT DUE TO AGE AND FAILURE</h1>
                            <br>
                            <p >
                                This quote is for the purchase and installation of <span style="color: blue;">({{quantity}}) {{name}}</span>
                                or equivalent batteries for the customer's <span style="color: red;">KVA MAKE MODEL Serial No-XXX</span>.
                                These batteries are being quoted for replacement as they have exceeded their end-of-life age of four (4) years and will
                                 no longer be reliable in maintaining the load. In addition, components that are beyond their end-of-life age are not
                                 covered under contract and any emergency service related to failed components beyond their end-of-life age will be billable.
                                <br><br>
                                In addition, these batteries have registered failing voltage/impedance readings. Batteries with this level of deterioration are 
                                unlikely to provide sufficient power to the UPS in the event of a power outage and could lead to a load loss and significant down time.
                                <br><br>
                                These batteries are to be installed by a DC Group certified UPS technician who is familiar with the operation of the UPS and
                                with UPS battery replacements. The batteries quoted here come with a <span style="color: red;">WARRANTY-XXX-</span>year manufacturer's warranty. Also included
                                 in this quote is removal and disposal of the spent batteries in compliance with EPA regulations.
                                 <br><br>
                                Freight is estimated for quoting purposes only. Estimated here is standard dock-to-dock delivery. Any special delivery requirements,
                                 such as expedited shipment, a lift gate, or inside delivery will likely incur additional costs at the customer's expense.
                                 <br><br>
                                **All deliveries should be inspected by the facility upon arrival. If any damage is seen or suspected, a note will need to be made
                                 on the BOL. If damage occurs during shipment and a note is not made on the BOL upon delivery, charges for replacement product will
                                 apply.
                                 <br><br>
                                *Lead times vary based on <span style="color: red;">manufacturer’s</span> availability.*
                                <br><br>
                                *Tax not included*
                            </p>
                    </div>
                    <div class="para-wraper border border-primary p-2 mt-2">
                        <h1 class="page-heading d-flex text-dark fw-bold fs-3 my-0 flex-column justify-content-center">
                            BATTERY REPLACEMENT DUE TO FAILURE</h1>
                            <br>
                            <p >
                                This quote is for the purchase and installation of <span style="color: blue;">({{quantity}}) {{name}}</span>
                                or equivalent batteries for the customer's <span style="color: red;">KVA MAKE MODEL Serial No-XXX</span>.
                                These batteries are being quoted for replacement as they have registered failing <span style="color: red;">voltage/impedance</span> 
                                readings. Batteries with this level of deterioration are unlikely to provide sufficient power to the UPS in the event of a power outage, 
                                which can lead to a load loss and significant down time. In addition, components that are beyond their end-of-life age are not covered under 
                                contract and any emergency service related to failed components beyond their end-of-life age will be billable.
                                 <br><br>
                                These batteries are to be installed by a DC Group certified UPS technician who is familiar with the operation of the UPS and
                                with UPS battery replacements. The batteries quoted here come with a <span style="color: red;">WARRANTY-XXX-</span>year manufacturer's warranty. Also included
                                 in this quote is removal and disposal of the spent batteries in compliance with EPA regulations.
                                 <br><br>
                                Freight is estimated for quoting purposes only. Estimated here is standard dock-to-dock delivery. Any special delivery requirements,
                                 such as expedited shipment, a lift gate, or inside delivery will likely incur additional costs at the customer's expense.
                                 <br><br>
                                **All deliveries should be inspected by the facility upon arrival. If any damage is seen or suspected, a note will need to be made
                                 on the BOL. If damage occurs during shipment and a note is not made on the BOL upon delivery, charges for replacement product will
                                 apply.
                                 <br><br>
                                *Lead times vary based on <span style="color: red;">manufacturer’s</span> availability.*
                                <br><br>
                                *Tax not included*
                            </p>
                    </div>
        </div>
    </div>
</div>
