 <!-- begin::Header -->
 <div class="table-container-width">
   <div class="card" style="min-width: 96vw;">
       <div class="card-body border-0 pt-5">

          <button class="btn btn-primary action-button mt-8 p-4" (click)="openAddNewDialog()" >Add Contact 
            <i class="fa fa-plus ms-2"></i>
          </button>
   
           <div class="table-container mt-8">
               <div class="card-body p-0">
                   <!-- begin::Table container -->
                   <div class="table-max-height">
                     <!-- begin::Table -->
                     <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="text-align: center;">
                       <!-- begin::Table head -->
                       <thead>
                         <tr class="text-dark fw-bolder badge-light-primary" style="font-size: medium;">
                           <th class="min-w-100px text-hover-primary" (click)="sortTable('vendor')" style="font-size: medium !important; cursor: pointer; padding-left: 1rem;">Vendor <i class="fa fa-sort" [ngClass]="sortIcon('vendor')"></i></th>
                           <th class="min-w-100px text-hover-primary" (click)="sortTable('contactName')" style="font-size: medium !important; cursor: pointer;">Contact Name<i class="fa fa-sort" [ngClass]="sortIcon('contactName')"></i></th>
                           <th class="min-w-115px text-hover-primary" (click)="sortTable('email')" style="font-size: medium !important; cursor: pointer;">Email<i class="fa fa-sort" [ngClass]="sortIcon('email')"></i></th>
                           <th class="min-w-100px text-hover-primary" (click)="sortTable('officePhone')" style="font-size: medium !important; cursor: pointer;">Office Phone<i class="fa fa-sort" [ngClass]="sortIcon('officePhone')"></i></th>
                           <th class="min-w-100px text-hover-primary" (click)="sortTable('otherPhone')" style="font-size: medium !important; cursor: pointer;">Other Phone<i class="fa fa-sort" [ngClass]="sortIcon('otherPhone')"></i></th>
                           <th class="min-w-100px text-hover-primary" (click)="sortTable('baseOperation')" style="font-size: medium !important; cursor: pointer;">Base Operation<i class="fa fa-sort" [ngClass]="sortIcon('baseOperation')"></i></th>
                           <th class="min-w-150px text-hover-primary" (click)="sortTable('notes')" style="font-size: medium !important; cursor: pointer;">Notes<i class="fa fa-sort" [ngClass]="sortIcon('notes')"></i></th>
                           <th class="min-w-60px" style="font-size: medium !important; cursor: pointer;">Edit</th>
                           <th class="min-w-60px" style="font-size: medium !important; cursor: pointer;">Delete</th>
   
                         </tr>
               
                       </thead>
                       <!-- end::Table head -->
   
                       <!-- begin::Table body -->
                       <tbody class="text-dark mb-1 fs-5" style="text-align: center; font-family: Roboto condensed;" *ngIf = "vendorContactList && vendorContactList.length > 0">
                           <!-- [ngStyle]="{ 'background-color': isQuoteSelected(vendor) ? 'lightyellow' : 'inherit' }" -->
                           <ng-container  *ngFor = "let vendor of vendorContactList; let i = index;">
                             <tr [ngClass]="i % 2 === 0 ? 'bg-row-opacity' : '' ">
                                 <td class="ps-4">
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.vendor}}
                                   </span>
                                 </td>
                                 <td>
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.contactName}}
                                   </span>
                                 </td>
                                 <td>
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.email}}
                                   </span>
                                 </td>
                                 <td>
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.officePhone}}
                                   </span>
                                 </td>
                                 <td>
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.otherPhone}}
                                   </span>
                                 </td>
                                 <td>
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.baseOperation}}
                                   </span>
                                 </td>
                                 <td>
                                   <span class="" style="font-size: medium !important;">
                                     {{vendor.notes}}
                                   </span>
                                 </td>
                                 <td style="padding-left: 15px;">
                                   <i (click)="openEditDialog(vendor.email)" class="fas fa-edit"></i>
                                 </td>
                                 <td  style="padding-left: 25px;">
                                   <i class="fas fa-trash" (click)="deleteRecord(vendor)"></i>
                                 </td>
                             </tr>
   
                           </ng-container>                      
   
                       </tbody>
                       <!-- end::Table body -->
                     </table>
                     <!-- end::Table -->
                   </div>
                   <!-- end::Table container -->
                 </div>
           </div>
   
       </div>
     </div>

 </div>