<!-- begin::Header -->
<div class="table-container-width">
  <div class="card" >
      <div class="card-body border-0 pt-5">

          <div class="form-container mt-8">
              <!-- search form -->
              <form [formGroup]="dcgBatteryPricingFilterForm"novalidate="" class="form">
                  <table>
                      <tr>
                          <td>
                          <label class="min-w-100px me-5 fw-bold mb-1 text-end fs-4" style="padding-right: 100px;">Make</label>
                          <input type="text" class="input-control form-select-solid text-dark fw-bold fs-5" formControlName="make" (keyup.enter)="filterCapFanList()">
                          </td>

                          <td>
                          <label class="min-w-100px me-5 fw-bold mb-1 text-end fs-4" style="padding-right: 100px;">Model</label>
                          <input type="text" class="input-control form-select-solid text-dark fw-bold fs-5" formControlName="model" (keyup.enter)="filterCapFanList()">
                          </td>
                          <td>
                          <label class="min-w-100px me-5 fw-bold mb-1 text-end fs-4" style="padding-right: 100px;">Amp Hour</label>
                          <input type="text" class="input-control form-select-solid text-dark fw-bold fs-5" formControlName="ampHour" (keyup.enter)="filterCapFanList()">
                          </td>

                          <td>
                              <label class="min-w-100px me-5 fw-bold mb-1 text-end fs-4" style="padding-right: 100px;">Dimensions</label>
                              <input type="text" class="input-control form-select-solid text-dark fw-bold fs-5" formControlName="dimensions" (keyup.enter)="filterCapFanList()">
                          </td>
                          <td>
                              <label class="min-w-100px me-5 fw-bold mb-1 text-end fs-4" style="padding-right: 100px;">DCG Part No</label>
                              <input type="text" class="input-control form-select-solid text-dark fw-bold fs-5" formControlName="dcgPartNo" (keyup.enter)="filterCapFanList()">
                          </td>
                          <td>
                              <label class="min-w-100px me-5 fw-bold mb-1 text-end fs-4" style="padding-right: 100px;">Weight</label>
                              <input type="text" class="input-control form-select-solid text-dark fw-bold fs-5" formControlName="weight" (keyup.enter)="filterCapFanList()">
                          </td>
                      </tr>
                  </table>
              </form>
              <!-- search button -->
              <div class="card-header border-0 pt-5 p-0" style="justify-content: center;">
                  <div style="text-align: right;"
                  class="card-toolbar"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-trigger="hover"
                  title="Import Quotes"
                  >
                  <button type="button" class="btn btn-primary" (click)="filterCapFanList()">Search</button>
                  </div>
              </div>
              <div class="card-header border-0 pt-5 p-0" style="justify-content: center;">
                <div style="text-align: right;"
                class="card-toolbar"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-trigger="hover"
                title="Import Quotes"
                >
                <button type="button" class="btn btn-primary" [routerLink]="['/pricing/add-new-battery']">Add New Battery</button>
                </div>
            </div>
          </div>

          <div class="table-container mt-8">
              <div class="card-body p-0">
                  <!-- begin::Table container -->
                  <div class="table-max-height">
                    <!-- begin::Table -->
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="text-align: center;">
                      <!-- begin::Table head -->
                      <thead>
                        <tr class="text-dark fw-bolder badge-light-primary" style="font-size: medium;">
                          <th class="min-w-80px text-hover-primary" style="font-size: medium !important; cursor: pointer; padding-left: 1rem;">Edit<i class="fa fa-sort" [ngClass]="sortIcon('make')"></i></th>
                          <th class="min-w-80px text-hover-primary" (click)="sortTable('make')" style="font-size: medium !important; cursor: pointer; padding-left: 1rem;">Make<i class="fa fa-sort" [ngClass]="sortIcon('make')"></i></th>
                          <th class="min-w-70px text-hover-primary" (click)="sortTable('model')" style="font-size: medium !important; cursor: pointer;">Model<i class="fa fa-sort" [ngClass]="sortIcon('model')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('dcgPartNo')" style="font-size: medium !important; cursor: pointer;">DCG Part No<i class="fa fa-sort" [ngClass]="sortIcon('dcgPartNo')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('ampHour')" style="font-size: medium !important; cursor: pointer;">Amp Hour<i class="fa fa-sort" [ngClass]="sortIcon('ampHour')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('wattsPerCell')" style="font-size: medium !important; cursor: pointer;">Watt Per Cell<i class="fa fa-sort" [ngClass]="sortIcon('wattsPerCell')"></i></th>
                          <th class="min-w-80px text-hover-primary" (click)="sortTable('cost')" style="font-size: medium !important;cursor: pointer;">Cost<i class="fa fa-sort" [ngClass]="sortIcon('cost')"></i></th>
                          <th class="min-w-100px text-hover-primary" (click)="sortTable('terminal')" style="font-size: medium !important; cursor: pointer;">Terminal<i class="fa fa-sort" [ngClass]="sortIcon('terminal')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('dimensions')" style="font-size: medium !important; cursor: pointer;">Dimensions<i class="fa fa-sort" [ngClass]="sortIcon('dimensions')"></i></th>
                          <th class="min-w-90px text-hover-primary" (click)="sortTable('weight')" style="font-size: medium !important; cursor: pointer;">Weight<i class="fa fa-sort" [ngClass]="sortIcon('weight')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('warranty')" style="font-size: medium !important;cursor: pointer;">Warranty<i class="fa fa-sort" [ngClass]="sortIcon('warranty')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('vendor')" style="font-size: medium !important;cursor: pointer;">Vendor<i class="fa fa-sort" [ngClass]="sortIcon('vendor')"></i></th>
                          <th class="min-w-150px text-hover-primary" (click)="sortTable('notes')" style="font-size: medium !important; cursor: pointer;">Notes<i class="fa fa-sort" [ngClass]="sortIcon('notes')"></i></th>
                          <th class="min-w-100px" style="cursor: pointer; padding-right: 1rem; padding: .5rem; display: flex; justify-content: center;">
                            <button class="btn btn-primary" style="padding: .5rem;background-color: rgba(28, 206, 141, 0.6) !important;" (click)="openEnterQuantityModal()" [disabled]="dcgBatteryIds.length <= 0">Check Price</button></th>
                        </tr>

                      </thead>
                      <!-- end::Table head -->

                      <!-- begin::Table body -->
                      <tbody class="text-dark mb-1 fs-5" style="text-align: center; font-family: Roboto condensed;" *ngIf = "dcgBatteryPricingList && dcgBatteryPricingList.length > 0">
                          <!-- [ngStyle]="{ 'background-color': isQuoteSelected(dcgBatteryPrice) ? 'lightyellow' : 'inherit' }" -->
                        <tr [ngStyle]="{'background-color': dcgBatteryPrice.rowColor}" *ngFor = "let dcgBatteryPrice of dcgBatteryPricingList; let i = index;" >

                          <td>
                            <i style="cursor: pointer;" class="fas fa-edit" routerLink="/pricing/battery-pricing-edit" [queryParams]="{id: dcgBatteryPrice.id}"></i>
                          </td>
                          <td style="padding-left: 1rem;">
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.make}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.model}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.dcgPartNo}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.ampHour}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.wattsPerCell}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{ dcgBatteryPrice.cost | currency:'USD':true:'1.2-2' }}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.terminal}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.dimensions}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.weight}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.warranty}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.vendor}}
                            </span>
                          </td>
                          <td>
                            <span class="" style="font-size: medium !important;">
                              {{dcgBatteryPrice.notes}}
                            </span>
                          </td>
                          <td>
                            <span class="">
                              <input (change)="getId(dcgBatteryPrice.id)" type="checkbox" value="1" />
                            </span>
                          </td>

                        </tr>
                      </tbody>
                      <!-- end::Table body -->
                    </table>
                    <!-- end::Table -->
                  </div>
                  <!-- end::Table container -->
                </div>
          </div>

      </div>
    </div>

</div>
