<div>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <form [formGroup]="pricingProfileForm">
        <div class="row mb-6">
            <div class="col p-0 me-4">
                <label class="col-lg-4 col-form-label  text-dark fw-normal fs-6 w-100 p-0">Quantity<span style="color: red;">*</span></label>

                <div class="input-group fw-bold text-dark col-lg-8  fv-row p-0">
                  <input formControlName="quantity" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
                </div>
                <div *ngIf="isRequired('quantity')">
                  <div *ngIf=" this.formControls['quantity'].errors?.required" style="color: red;">quantity is required.</div>
                </div>
            </div>
            <div class="col p-0">
                <label class="col-lg-4 col-form-label text-dark fw-normal fs-6 w-100 p-0">Profit Guide<span style="color: red;">*</span></label>
                <div class="input-group text-dark col-lg-8  fv-row p-0">
                  <input  formControlName="profitGuide" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
                </div>
                <div *ngIf="isRequired('profitGuide')">
                  <div *ngIf=" this.formControls['profitGuide'].errors?.required" style="color: red;">profit Guide is required.</div>
                </div>
            </div>
        </div>
        <div class="row mb-6">
            <div class="col p-0 me-4">
                <label class="col-lg-4 col-form-label text-dark fw-normal fs-6 w-100 p-0">Labor Hours<span style="color: red;">*</span></label>
                <div class="input-group text-dark col-lg-8  fv-row p-0">
                  <input formControlName="laborHours" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
                </div>
                <div *ngIf="isRequired('laborHours')">
                  <div *ngIf=" this.formControls['laborHours'].errors?.required" style="color: red;">labor hours is required.</div>
                </div>
            </div>
            <div class="col p-0">
                <label class="col-lg-4 col-form-label text-dark fw-normal fs-6 w-100 p-0">Frieght Est<span style="color: red;">*</span></label>
                <div class="input-group text-dark col-lg-8  fv-row p-0">
                  <input formControlName="frieghtEst" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
                </div>
                <div *ngIf="isRequired('frieghtEst')">
                  <div *ngIf=" this.formControls['frieghtEst'].errors?.required" style="color: red;">frieght est is required.</div>
                </div>
            </div>
        </div>
        <div class="row mb-6">
           <div class="col p-0 me-4">
                <label class="col-lg-4 col-form-label text-dark fw-normal fs-6 w-100 p-0">Labor Ready</label>
                <div class="input-group text-dark col-lg-8  fv-row p-0">
                  <input #otherPhone formControlName="laborReady" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
                </div>
                <div *ngIf="isRequired('laborReady')">
                  <div *ngIf=" this.formControls['laborReady'].errors?.required" style="color: red;">labor ready is required.</div>
                </div>
           </div>
           <div class="col p-0">
            <label class="col-lg-4 col-form-label text-dark fw-normal fs-6 w-100 p-0">Price Group</label>
            <div class="input-group text-dark col-lg-8  fv-row p-0">
              <input #baseOperation formControlName="priceGroup" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
            </div>
            <div *ngIf="isRequired('priceGroup')">
              <div *ngIf=" this.formControls['priceGroup'].errors?.required" style="color: red;">price group is required.</div>
            </div>
           </div>
        </div>
        <div class="row mb-6">
            <label class="col-lg-4 col-form-label text-dark fw-normal fs-6 w-100 p-0">Qty</label>
            <div class="input-group text-dark col-lg-8 fv-row p-0">
              <input #baseOperation formControlName="qty" type="text" class="form-control form-control-sm fw-normal text-dark fs-5" style="border-color: black; height: 35px;">
            </div>
            <div *ngIf="isRequired('qty')">
              <div *ngIf=" this.formControls['qty'].errors?.required" style="color: red;">qty is required.</div>
            </div>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onUpdate()">Update</button>
    <button type="button" class="btn btn-primary" (click)="OnCloseModal()">Cancel</button>
  </div>
</div>
