<!-- begin::Header -->
<div class="card" style="min-width: 90vw;">
    <div class="card-body border-0 pt-5">

      <form [formGroup]="jobFilterForm" novalidate="" class="form">
        <table>
          <tr>
            <td>
              <label class="min-w-100px me-5 fw-bold mb-1 fs-3">Account Manager</label>
            </td>
            <td>
              <label class="min-w-100px me-5 fw-bold mb-1 fs-3">Technicians</label>
            </td>
            <td>
              <label class="min-w-100px me-5 fw-bold mb-1 fs-3">State</label>
            </td>
            <td>
              <label class="min-w-100px me-5 fw-bold mb-1 fs-3">Appt Type</label>
            </td>
          </tr>
          <tr>
              <td>
                <select
                  class="form-select form-select-solid fw-bold text-dark fs-4 me-5"
                  data-kt-select2="true"
                  data-placeholder="Select option"
                  data-allow-clear="true"
                  formControlName="ownerId"
                  style="font-size:10pt;width:150px;padding:4px;"
                >
                  <option class = "fw-bold text-dark me-5" value="All" selected>All</option>
                  <option class = "fw-bold text-dark me-5" *ngFor="let mgr of accountManagers" [value]="mgr.empID.trim()">
                    {{mgr.empName}}
                  </option>
                </select>
              </td>
              <td>
                <select
                  class="form-select form-select-solid fw-bold text-dark fs-4 me-5"
                  data-kt-select2="true"
                  data-placeholder="Select option"
                  data-allow-clear="true"
                  formControlName="tech"
                  style="font-size:10pt;width:150px;padding: 4px;"
                >
                <option class = "fw-bold text-dark me-5" value="All">All</option>
                <option class = "fw-bold text-dark me-5" *ngFor="let tech of technicians" [value]="tech.empID">{{tech.empName}}</option>
              </select>
              </td>
              <td>
                <select
                  class="form-select form-select-solid fw-bold text-dark fs-4 me-5"
                  data-kt-select2="true"
                  data-placeholder="Select option"
                  data-allow-clear="true"
                  style="font-size:10pt;width:150px;padding:4px;"
                  formControlName="state"
                 >
                 <option class = "fw-bold text-dark me-5" value="All" selected>All</option>
                  <option class = "fw-bold text-dark me-5" *ngFor="let location of locations" [value]="location.stateCode">
                    {{location.stateName}}
                  </option>
                </select>
              </td>
              <td>
                <select
                  class="form-select form-select-solid fw-bold text-dark fs-4 me-5"
                  data-kt-select2="true"
                  data-placeholder="Select option"
                  data-allow-clear="true"
                  style="font-size:10pt;width:150px;padding: 4px;"
                  formControlName="type"
                 >
                  <option class = "fw-bold text-dark me-5" *ngFor = "let type of appTypes" [value]="type.value">{{type.Text}}</option>
                </select>
              </td>

            <td>
              <div class="input-group fw-bold text-dark fs-3 me-5">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="SearchJobs()">
                    Get Jobs
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </form>
      </div>
      <full-calendar #calendar [options]="calendarOptions" class="ms-10 mb-10" style="width: 95%; font-size: large;"></full-calendar>
  </div>
