.customer-feedback{
    .panels{
        margin-top: 20px;
    .sent{
        background-color: #008ed6;
    }
    .positivefeedback{
        background-color: #00b300;
    }
    .negativefeedback{
        background-color: #e60000;
    }
    .neutral{
        background-color: #E8A90E;
    }
        .panel{
            height: 220px;
            width: 25%;
            text-align: center;
            padding: 5px;
            font-family: Arial;
            font-size: 36pt;
            border-left: 0px solid #e1e1e1;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    .label-wrapper{
        height: 100px;
        align-items: center;
        .label{width: 50%; h1{color: #2984C5;} }
    }

    .chart-wrapper{
        .chart-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            h1{
                color: #2984C5;
                font-size: 14pt;
                font-weight: bold;
            }
        }

    }
}

.panel {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin: 10px;
    border-radius: 10px; /* Add rounded corners */
}

.sent {
    background: linear-gradient(to right, #7CCDFF, #7093FF); /* Light to dark blue gradient */
    color: white; /* Text color */
}

.positivefeedback {
    background: linear-gradient(to right, #7AC073, #4C9E4A); /* Light to dark green gradient */
    color: white; /* Text color */
}

.neutral {
    background: linear-gradient(to right, #FCA881, #F6749E); /* Light to dark yellow gradient */
    color: white; /* Text color */
}

.negativefeedback {
    background: linear-gradient(to right, #F2A0F5, #BE7CFD); /* Light to dark red gradient */
    color: white; /* Text color */
}

.sent-data {
    font-size: 80pt;
    line-height: .7;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.sent-data.ng-leave {
    opacity: 0; /* Fade out when leaving */
    transform: translateY(-20px); /* Optional: Slide up when leaving */
}

.sent-data.ng-enter,
.sent-data.ng-move {
    opacity: 0; /* Start with opacity 0 when entering/moving */
    transform: translateY(-20px); /* Optional: Start above when entering/moving */
}

.sent-data.ng-enter.ng-enter-active,
.sent-data.ng-move.ng-move-active {
    opacity: 1; /* Fade in when entering/moving */
    transform: translateY(0); /* Optional: Slide down when entering/moving */
}

